.styles{
    color: rgb(5, 77, 105);
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}

.html{

    background-image: url("src/assets/img/preference1.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
   
}

.route{
    color:	rgb(5, 77, 105); 
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}
.link{
    margin-top: 30px;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
}
