<body class="html">

  <h1 class="styles">Rohit weds Manjari</h1>

  <!-- <img src="/assets2/img2/DSC06617.jpg"> --> 
   

  <div class="route">
   

    <h3 style="font-family: 'Brush Script MT', cursive;margin-top: 20px;font-size: 17px;font-weight: bold;">Sumuhurtham</h3>
    <a>14th Aug, 2021 at 09:22AM</a><br>

    <h4 style="margin-top: 25px;font-family: 'Brush Script MT', cursive;font-size: 17px;font-weight: bold;">Venue</h4>
    <a>S Convention, Machilipatnam</a><br>
  <a style="font-size: 20px;" mat-raised-button href="https://www.google.com/maps/place/S+Convention/@16.1885522,81.1340133,15z/data=!4m5!3m4!1s0x0:0x59e78c06793d3b82!8m2!3d16.1885489!4d81.1340016">Route Map</a>
  
  <h4 style="margin-top: 25px;font-family: 'Brush Script MT', cursive;font-size: 17px;font-weight: bold;">Vratham</h4>
    <a>15th Aug 2021 8:00AM onwards at Akruthi Avenue, Sanath Nagar, Hyderabad</a><br>

    <h4 style="margin-top: 25px;font-family: 'Brush Script MT', cursive;font-size: 17px;font-weight: bold;">Reception</h4>
    <a>15th Aug 2021 7:00PM onwards at The Westin, Mindspace, Hyderabad</a><br>
<div class="link">
    <a mat-raised-button href="https://rohitwedsmanjari.blogspot.com/">Wedding Live Link</a>
  </div>
</div>
    

</body>


